@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$primary:#a9d9e0;
$secondary:#868e96;
$success:#bbedd8;
$danger:#e6aac6;
$info:#c7e8ed;
$warning:#e8df97;
$light:#f2fdff;
$dark:#2a3638;
$font-family-base: 'Montserrat', sans-serif;

@import "~bootstrap/scss/bootstrap";

.scroll-spy {
    position: relative;
    scroll-behavior: smooth;
}

@mixin mm-jumbotron($image-url) {
    background: url($image-url) rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: $white;

    padding: 20rem 2rem;
}

.mm-jumbotron-main {
    @include mm-jumbotron("../assets/bg-cropped.jpg");
}