@import url("https://fonts.googleapis.com/css?family=Montserrat|Satisfy&display=swap");

$primary: #95c0c7;
$secondary: #868e96;
$success: #bbedd8;
$danger: #e6aac6;
$info: #c7e8ed;
$warning: #e8df97;
$light: #f2fdff;
$dark: #2a3638;
$font-family-base: "Montserrat", sans-serif;

@import "~bootstrap/scss/bootstrap";

body {
    height: 100%;
}

.scroll-spy {
    position: relative;
    scroll-behavior: smooth;
}

.mm-navbar {
    position: sticky;
    top: 0;
    z-index: 1071;
}

@mixin mm-jumbotron($image-name: "", $bg-color: $primary) {
    @media only screen and (max-width: 720px) {
        @if str-length($image-name) == 0 {
            background: $bg-color;
        } @else {
            background: url("../assets/mobile/#{$image-name}")
                rgba(0, 0, 0, 0.4);
        }

        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;

        max-height: 70%;

        padding: 10rem 2rem;

        h1 {
            font-size: 2rem;
        }
    }

    @media only screen and (min-width: 721px) {
        @if str-length($image-name) == 0 {
            background: $bg-color;
        } @else {
            background: url("../assets/#{$image-name}") rgba(0, 0, 0, 0.4);
        }

        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;

        padding: 20rem 2rem;

        h1 {
            font-size: 3.5rem;
        }
    }

    color: $white;
}

.and {
    font-family: "Satisfy", cursive;
    line-height: 0.5;

    @media only screen and (max-width: 720px) {
        font-size: 2rem;
    }

    @media only screen and (min-width: 721px) {
        font-size: 3.5rem;
    }
}

.mm-jumbotron-notice {
    @include mm-jumbotron("", $warning);
}

.mm-jumbotron-about {
    @include mm-jumbotron("bg1.jpg");
}

.mm-jumbotron-schedule {
    @include mm-jumbotron("bg2.jpg");
}

.mm-jumbotron-accommodations {
    @include mm-jumbotron("bg3.jpg");
}

.mm-jumbotron-registry {
    @include mm-jumbotron("bg4.jpg");
}

.mm-jumbotron-contact {
    @include mm-jumbotron();
}

.iframe-container {
    overflow: hidden;
    position: relative;

    @media only screen and (max-width: 720px) {
        padding-top: 100%;
    }

    @media only screen and (min-width: 721px) {
        padding-top: 42.5%;
    }
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
